{% assign main_menu_linklists = linklists[section.settings.main_menu].links %}
<div class="relative bg-white">
  <div class="mx-auto px-4 sm:px-6">
    <div class="flex justify-center items-center py-6 md:py-2 md:justify-start md:space-x-0">
      <!-- STORE NAME / STORE LOGO -->
      <div class="flex justify-start md:flex-1 truncate">
        <h1 class="text-xl font-bold truncate">{{ section.settings.title_page }}</h1>
      </div>

      <!-- MAIN MENU -->
      <div class="md:flex-1">
        <button id="btn-sidebar" class="absolute right-6 top-1/2 transform -translate-y-1/2 md:hidden">
          {% render 'icon-menu' %}
        </button>
        <div class="flex flex-col md:flex-row justify-start md:justify-end gap-y-4 px-4 py-6 fixed md:static z-20 transform -translate-x-full transition-transform left-0 right-12 top-0 bottom-0 bg-white md:transform-none" id="sidebar">
          <h2 class="text-2xl font-bold md:hidden">Overview</h2>
 
          <nav class="flex flex-col md:flex-row gap-y-2">
            {% for link in main_menu_linklists %}
              {% if link.links != blank %}
                <div class="flex flex-col rounded-md hover:bg-slate-100 hover:text-gray-900 px-2 py-2 relative group">
                  <button class="text-base whitespace-nowrap text-left text-gray-500 hover:text-gray-900">
                    {{ link.title }}
                    {% render 'icon-dropdown' %}
                  </button>
                  <div class="flex flex-col">
                    <ul class="hidden space-y-6 shadow-lg p-4 absolute z-30 bg-white top-full group-hover:flex group-hover:flex-col">
                      {% for _link in link.links %}
                        <li>
                          <a href="{{ _link.url }}" class="text-base text-gray-900 hover:text-gray-900">
                            {{- _link.title -}}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              {% else %}
                <div class="rounded-md flex-col text-gray-500 hover:bg-slate-100 hover:text-gray-900 px-2 py-2 relative">
                  <a href="{{ link.url }}" class="text-base hover:text-gray-900">{{ link.title }}</a>
                </div>
              {% endif %}
            {% endfor %}
          </nav>

          <div class="flex flex-col md:flex-row">
            <a href="{{ routes.cart_url }}" class="whitespace-nowrap p-2 rounded-md hover:bg-slate-100 flex text-base text-gray-500 hover:text-gray-900">
              {% render 'icon-shopping-bag' %}
              <span class="inline-block">
                {{ cart.item_count }}
              </span>
            </a>
    
            <a href="{{ routes.account_login_url }}" class="text-base p-2 rounded-md text-gray-500 hover:text-gray-900 hover:bg-slate-100">Login</a>
            <a href="{{ routes.account_register_url }}" class="text-base p-2 rounded-md text-gray-500 hover:text-gray-900 hover:bg-slate-100">Register</a>
          </div>
        </div>
      </div>
      <!-- NAVIGATION MENU -->
    </div>
  </div>
</div>

{% schema %}
{
  "name": "header-page",
  "settings": [
    {
      "type": "text",
      "id": "title_page",
      "label": "Title",
      "default": "Aberration store"
    },
    {
      "type": "link_list",
      "id": "main_menu",
      "label": "Header menu",
      "default": "main-menu"
    }
  ]
}
{% endschema %}