<div class="px-8 py-6">
  {% for block in section.blocks %}
    {% case block.type %}
        {% when 'article_title' %}
          <div>
            <span class="font-bold block text-center">{{ blog.title }} xd</span>
            <h1 class="text-center text-3xl font-bold">{{ article.title }}</h1>
          </div>
        {% when 'article_author' %}
            {% if section.settings.enable_author %}
                <small class="block text-center mt-4">{{ article.author }}</small>
            {% endif %}
        {% when 'article_published_date' %}
            {% if section.settings.enable_published_date %}
                <time class="block text-center my-2" datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%Y-%m-%d' }}</time>
                <div class="flex justify-center">
                  <p class="inline-block break-words text-center text-xs md:text-base max-w-[52ch]">{{ article.metafields.custom.summary.value }}</p>
                </div>
            {% endif %}
        {% when 'featured_image' %}
          <div>
          </div>
          <div class="container-image flex justify-center">
            <img 
              className="w-full h-auto max-w-full"
              src="{{ article.image | image_url: width: 480, height: 480 }}"
              alt="{{ article.image.alt }}" width="480" height="480" loading="eager"
            />
          </div>
        {% when 'article_content' %}
            <div class="space-y-6 mt-4">{{ article.content }}</div> 
        {% else %}
    {% endcase %}
  {% endfor %}
  
  {% if blog.comments_enabled? %}
    <section id="comments py-8">
      {% if article.comments_count > 0 %}
        <div class="flex flex-col">
          <h2>See what people are saying</h2>
          {% paginate article.comments by 5 %}
            {% for comment in article.comments %}
              <div class="flex-1 border my-4 px-4 py-2 sm:px-6 sm:py-4 leading-relaxed">
                <span class="comment-author">{{ comment.author }}</span> <span class="text-xs text-gray-400">{{ comment.created_at | date: format: 'default' }}</span>
                <p class="text-sm">{{ comment.content }}</p>
              </div>
            {% endfor %}
            {% if paginate.pages > 1 %}
              {{ paginate | default_pagination }}
            {% endif %}
          {% endpaginate %}
        </div>
      {% else %}
        <span class="text-sm font-bold">There are no commets in this article</span>
      {% endif %}
    </section>
  {% endif %}
</div>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "headline": {{ article.title | json }},
    "articleBody": {{ article.content | strip_html | json }},
    {% if article.excerpt != blank %}
        "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
        "image": [
            {{ article.image | image_url: "medium" | prepend: 'https:' | json }} 
        ],
    {% endif %}
    "datePublished": {{ article.published_at | date: format: "default" | json }},
    "dateCreated": {{ article.created_at | date: format: "default" | json }},
    "author": {
        "@type": "Person",
        "name": {{ article.author | json }}
    },
    "publisher": {
        "@type": "Organization",
        "name": {{ shop.name | json }}
    }
}
</script>

{% schema %}
{
  "name": "Template Article",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_author",
      "default": true,
      "label": "Display author name"
    },
    {
      "type": "checkbox",
      "id": "enable_published_date",
      "default": true,
      "label": "Display published date"
    }
  ],
  "blocks": [
    {
      "type": "article_title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "article_author",
      "name": "Author",
      "limit": 1
    },
    {
      "type": "article_published_date",
      "name": "Published Date",
      "limit": 1
    },
    {
      "type": "featured_image",
      "name": "Thumbnail",
      "limit": 1
    },
    {
      "type": "article_content",
      "name": "Content",
      "limit": 1
    }
  ]
}
{% endschema %}